.ar-iitd-menu .megamenu li {
	text-align:left !important;
}

.ar-iitd-menu .megamenu-row .megamenu-col-title {
	background-color: #2d2d2d !important;
    padding: 3px !important;
    text-align: center !important;
    color: white !important;
    /*border-radius: 25px !important;*/
}

.ar-iitd-menu .menuzord-menu > li > .megamenu .megamenu-row ul li a {
    display: block;
    padding: 2px 0;
    -webkit-transition: padding 0.2s linear;
    -o-transition: padding 0.2s linear;
    transition: padding 0.2s linear;
}

.ar-iitd-menu .menuzord-menu > li > .megamenu .megamenu-row ul.list-icon li:before {
    content: "\f101";
    font-family: fontawesome;
    font-size: 12px;
    left: 0;
    position: absolute;
    top: 4px;
}

.ar-iitd-menu .menuzord-menu > li > .megamenu {
    top: 46px !important;
}

.ar-iitd-menu .menuzord-menu ul.dropdown {
    top: 46px !important;
}

.ar-iitd-menu .menuzord-menu .ar-inner-drop ul.dropdown {
    top: 0px !important;
}
.ar-iitd-menu .menuzord-menu > li > .megamenu {
    width: 100% !important;
    padding: 5px 15px !important;
}

.accordion-theme-colored .panel-default > .panel-heading {
    background-color: #696969 !important;
}
.mx-ht-70 {
    max-height: 70px !important;
}

.va-m {
    vertical-align: middle !important;
}

.ar-bg-lightest {
    background-color: transparent !important;
}

#header {
	background: linear-gradient(0deg,transparent,rgba(0,0,0,.8)),linear-gradient(0deg,transparent 10%,rgba(0,0,0,.6)) !important;
}

.ar-menu-brand {
	margin: 18px 0px 0 0 !important;
}

.header.header-floating .header-nav .header-nav-wrapper {
    background-color: transparent !important;
    border-bottom: none !important;
}

.ar-bg-slide {
    background-color: transparent !important;
}

.menuzord-menu > li > a {
    color: #404040;
    font-size: 17px;
    margin-right: 15px;
}


.menuzord .menuzord-menu > li.active > a, .menuzord .menuzord-menu > li:hover > a, .menuzord .menuzord-menu ul.dropdown li:hover > a {
    background: #C21717;
    color: #fff;
}

.kk-mr1 {
    margin-bottom: 80px !important;
}

.kk-mr {
    margin-bottom: 55px !important;
}

.kk-lh {
    line-height: 2.8 !important;
}

.menuzord-menu > li {
    padding: 7px 0 !important;
}

table thead {
	background-color: #eaeaea !important;
}


/*---------------------------------------------------------*/

.ar-dropdown {
	position: absolute !important;
    background-color: white !important;
    color: black !important;
    margin-left: 0px !important;
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1) !important;
	list-style: none !important;
    margin: 0 !important;
    padding: 0px!important;
    z-index: 99 !important;
    min-width: 230px !important;
    white-space: nowrap !important;
	display:none !important;
}

li:hover .ar-dropdown {
	display:block !important;
}

.ar-dropdown li a {
	color: #666666 !important;
    font-size: 12px !important;
    font-weight: 600 !important;
    padding: 7px 25px 7px 22px !important;
	transition: padding .2s linear !important;

}

.ar-dropdown li {
	line-height: 2.5rem !important;
}

.ar-dropdown li:hover a {
    color: #fff !important;
    /* border: 1px solid #c21717 !important; */
	padding-left: 28px !important;
    padding-right: 19px !important;
}

.ar-dropdown li:hover {
	background: #C21717 !important;
}

.menuzord-menu li ul.dropdown li .indicator {
    top: 5px !important;
}

.header-top .widget {
    line-height: 2 !important;
}

.header-top .styled-icons.icon-sm a {
    height: 10px !important;
    line-height: 2 !important;
	margin: 0 !important;
}

/*  LOGO ANIMATION   */

.element-invisible {
	position: absolute!important;
	height: 1px;
	width: 1px;
	overflow: hidden;
	clip: rect(1px, 1px, 1px, 1px)
}


.logo-wrapper {
	-webkit-box-ordinal-group: 2;
	-ms-flex-order: 1;
	order: 1;
	position: relative;
	-webkit-box-flex: 1;
	-ms-flex: 1;
	flex: 1;
	-ms-flex-preferred-size: 60%;
	flex-basis: 60%;
	height: auto;
	margin: 17px 0 0px;
	text-align: left
}

.logo-wrapper:active .logo-animation-wrapper h3,
.logo-wrapper:active h3,
.logo-wrapper:focus .logo-animation-wrapper h3,
.logo-wrapper:focus h3,
.logo-wrapper:hover .logo-animation-wrapper h3,
.logo-wrapper:hover h3 {
	fill: hsla(0, 0%, 100%, .8)
}

.logo-wrapper h3 {
	-webkit-transition: all .2s ease;
	transition: all .2s ease;
	height: 23px;
	width: 23px;
	fill: #fff
}

.logo-animation-wrapper {
	display: inline-block
}

.logo-animation-wrapper h3 {
	position: absolute;
	top: 0;
	white-space: nowrap;
	/*overflow: hidden;*/
	opacity: 0;
	filter:alpha(opacity=0);
	font-size: 28px;
	font-weight: bold;
	color: #ffffff;
	padding-left: 5px;
	/*width: 172px*/
}

.logo-animation-wrapper h3:first-child {
	top: -3px;
	-webkit-animation: textLogoAnimate1 12s ease-in-out infinite;
	animation: textLogoAnimate1 12s ease-in-out infinite
}

.logo-animation-wrapper h3:nth-child(2) {
	top: -6px;
	-webkit-animation: textLogoAnimate2 12s ease-in-out infinite;
	animation: textLogoAnimate2 12s ease-in-out infinite
}

.logo-animation-wrapper h3:nth-child(3) {
	top: 0px;
	-webkit-animation: ioeAnimate 12s ease-in-out infinite;
	animation: ioeAnimate 12s ease-in-out infinite
}

@-webkit-keyframes textLogoAnimate1 {
	0% {
		opacity: 1;
		filter:alpha(opacity=100);
		-webkit-transform: translateY(0);
		transform: translateY(0)
	}
	22% {
		opacity: 1;
		filter:alpha(opacity=100);
		-webkit-transform: translateY(0);
		transform: translateY(0)
	}
	26% {
		opacity: 0;
		filter:alpha(opacity=0);
		-webkit-transform: translateY(30px);
		transform: translateY(30px)
	}
	32% {
		opacity: 0;
		filter:alpha(opacity=0);
		-webkit-transform: translateY(-30px);
		transform: translateY(-30px)
	}
	59% {
		opacity: 0;
		filter:alpha(opacity=0);
		-webkit-transform: translateY(-30px);
		transform: translateY(-30px)
	}
	63% {
		opacity: 0;
		filter:alpha(opacity=0);
		-webkit-transform: translateY(-30px);
		transform: translateY(-30px)
	}
	67% {
		opacity: 0;
		filter:alpha(opacity=0);
		-webkit-transform: translateY(-30px);
		transform: translateY(-30px)
	}
	92% {
		opacity: 0;
		filter:alpha(opacity=0);
		-webkit-transform: translateY(-30px);
		transform: translateY(-30px)
	}
	96% {
		opacity: 1;
		filter:alpha(opacity=100);
		-webkit-transform: translateY(0);
		transform: translateY(0)
	}
	100% {
		opacity: 1;
		filter:alpha(opacity=100);
		-webkit-transform: translateY(0);
		transform: translateY(0)
	}
}

@-webkit-keyframes textLogoAnimate2 {
	0% {
		opacity: 0;
		filter:alpha(opacity=0);
		-webkit-transform: translateY(-30px);
		transform: translateY(-30px)
	}
	22% {
		opacity: 0;
		filter:alpha(opacity=0);
		-webkit-transform: translateY(-30px);
		transform: translateY(-30px)
	}
	26% {
		opacity: 1;
		filter:alpha(opacity=100);
		-webkit-transform: translateY(0);
		transform: translateY(0)
	}
	32% {
		opacity: 1;
		filter:alpha(opacity=100);
		-webkit-transform: translateY(0);
		transform: translateY(0)
	}
	59% {
		opacity: 1;
		filter:alpha(opacity=100);
		-webkit-transform: translateY(0);
		transform: translateY(0)
	}
	63% {
		opacity: 0;
		filter:alpha(opacity=0);
		-webkit-transform: translateY(30px);
		transform: translateY(30px)
	}
	67% {
		opacity: 0;
		filter:alpha(opacity=0);
		-webkit-transform: translateY(-30px);
		transform: translateY(-30px)
	}
	92% {
		opacity: 0;
		filter:alpha(opacity=0);
		-webkit-transform: translateY(-30px);
		transform: translateY(-30px)
	}
	96% {
		opacity: 0;
		filter:alpha(opacity=0);
		-webkit-transform: translateY(-30px);
		transform: translateY(-30px)
	}
	100% {
		opacity: 0;
		filter:alpha(opacity=0);
		-webkit-transform: translateY(-30px);
		transform: translateY(-30px)
	}
}

@-webkit-keyframes ioeAnimate {
	0% {
		opacity: 0;
		filter:alpha(opacity=0);
		-webkit-transform: translateY(-30px);
		transform: translateY(-30px)
	}
	22% {
		opacity: 0;
		filter:alpha(opacity=0);
		-webkit-transform: translateY(-30px);
		transform: translateY(-30px)
	}
	26% {
		opacity: 0;
		filter:alpha(opacity=0);
		-webkit-transform: translateY(-30px);
		transform: translateY(-30px)
	}
	32% {
		opacity: 0;
		filter:alpha(opacity=0);
		-webkit-transform: translateY(-30px);
		transform: translateY(-30px)
	}
	59% {
		opacity: 0;
		filter:alpha(opacity=0);
		-webkit-transform: translateY(-30px);
		transform: translateY(-30px)
	}
	63% {
		opacity: 1;
		filter:alpha(opacity=100);
		-webkit-transform: translateY(0);
		transform: translateY(0)
	}
	67% {
		opacity: 1;
		filter:alpha(opacity=100);
		-webkit-transform: translateY(0);
		transform: translateY(0)
	}
	92% {
		opacity: 1;
		filter:alpha(opacity=100);
		-webkit-transform: translateY(0);
		transform: translateY(0)
	}
	96% {
		opacity: 0;
		filter:alpha(opacity=0);
		-webkit-transform: translateY(30px);
		transform: translateY(30px)
	}
	100% {
		opacity: 0;
		filter:alpha(opacity=0);
		-webkit-transform: translateY(-30px);
		transform: translateY(-30px)
	}
}

/* ----- For IE ----- */
@keyframes textLogoAnimate1 {
	0% {
		opacity: 1;
		filter:alpha(opacity=100);
		-webkit-transform: translateY(0);
		transform: translateY(0)
	}
	22% {
		opacity: 1;
		filter:alpha(opacity=100);
		-webkit-transform: translateY(0);
		transform: translateY(0)
	}
	26% {
		opacity: 0;
		filter:alpha(opacity=0);
		-webkit-transform: translateY(30px);
		transform: translateY(30px)
	}
	32% {
		opacity: 0;
		filter:alpha(opacity=0);
		-webkit-transform: translateY(-30px);
		transform: translateY(-30px)
	}
	59% {
		opacity: 0;
		filter:alpha(opacity=0);
		-webkit-transform: translateY(-30px);
		transform: translateY(-30px)
	}
	63% {
		opacity: 0;
		filter:alpha(opacity=0);
		-webkit-transform: translateY(-30px);
		transform: translateY(-30px)
	}
	67% {
		opacity: 0;
		filter:alpha(opacity=0);
		-webkit-transform: translateY(-30px);
		transform: translateY(-30px)
	}
	92% {
		opacity: 0;
		filter:alpha(opacity=0);
		-webkit-transform: translateY(-30px);
		transform: translateY(-30px)
	}
	96% {
		opacity: 1;
		filter:alpha(opacity=100);
		-webkit-transform: translateY(0);
		transform: translateY(0)
	}
	100% {
		opacity: 1;
		filter:alpha(opacity=100);
		-webkit-transform: translateY(0);
		transform: translateY(0)
	}
}

@keyframes textLogoAnimate2 {
	0% {
		opacity: 0;
		filter:alpha(opacity=0);
		-webkit-transform: translateY(-30px);
		transform: translateY(-30px)
	}
	22% {
		opacity: 0;
		filter:alpha(opacity=0);
		-webkit-transform: translateY(-30px);
		transform: translateY(-30px)
	}
	26% {
		opacity: 1;
		filter:alpha(opacity=100);
		-webkit-transform: translateY(0);
		transform: translateY(0)
	}
	32% {
		opacity: 1;
		filter:alpha(opacity=100);
		-webkit-transform: translateY(0);
		transform: translateY(0)
	}
	59% {
		opacity: 1;
		filter:alpha(opacity=100);
		-webkit-transform: translateY(0);
		transform: translateY(0)
	}
	63% {
		opacity: 0;
		filter:alpha(opacity=0);
		-webkit-transform: translateY(30px);
		transform: translateY(30px)
	}
	67% {
		opacity: 0;
		filter:alpha(opacity=0);
		-webkit-transform: translateY(-30px);
		transform: translateY(-30px)
	}
	92% {
		opacity: 0;
		filter:alpha(opacity=0);
		-webkit-transform: translateY(-30px);
		transform: translateY(-30px)
	}
	96% {
		opacity: 0;
		filter:alpha(opacity=0);
		-webkit-transform: translateY(-30px);
		transform: translateY(-30px)
	}
	100% {
		opacity: 0;
		filter:alpha(opacity=0);
		-webkit-transform: translateY(-30px);
		transform: translateY(-30px)
	}
}

@keyframes ioeAnimate {
	0% {
		opacity: 0;
		filter:alpha(opacity=0);
		-webkit-transform: translateY(-30px);
		transform: translateY(-30px)
	}
	22% {
		opacity: 0;
		filter:alpha(opacity=0);
		-webkit-transform: translateY(-30px);
		transform: translateY(-30px)
	}
	26% {
		opacity: 0;
		filter:alpha(opacity=0);
		-webkit-transform: translateY(-30px);
		transform: translateY(-30px)
	}
	32% {
		opacity: 0;
		filter:alpha(opacity=0);
		-webkit-transform: translateY(-30px);
		transform: translateY(-30px)
	}
	59% {
		opacity: 0;
		filter:alpha(opacity=0);
		-webkit-transform: translateY(-30px);
		transform: translateY(-30px)
	}
	63% {
		opacity: 1;
		filter:alpha(opacity=100);
		-webkit-transform: translateY(0);
		transform: translateY(0)
	}
	67% {
		opacity: 1;
		filter:alpha(opacity=100);
		-webkit-transform: translateY(0);
		transform: translateY(0)
	}
	92% {
		opacity: 1;
		filter:alpha(opacity=100);
		-webkit-transform: translateY(0);
		transform: translateY(0)
	}
	96% {
		opacity: 0;
		filter:alpha(opacity=0);
		-webkit-transform: translateY(30px);
		transform: translateY(30px)
	}
	100% {
		opacity: 0;
		filter:alpha(opacity=0);
		-webkit-transform: translateY(-30px);
		transform: translateY(-30px)
	}
}

/*  LOGO ANIMATION END  */

.ar-map-cursor {
	cursor:pointer !important;
}


.header.header-floating .sticky-wrapper:not(.is-sticky) .header-nav.navbar-sticky .menuzord-menu > li:not(.active):not(:hover) > a {
    text-shadow: rgba(0,0,0,.8) 0 1px 8px;
}

.sticky-wrapper.is-sticky .header-nav.navbar-sticky {
    background-color: #c21717 !important;
}

.navbar-sticky .ar-menu-brand {
	margin-top:6px !important;
}

.navbar-sticky .menuzord-menu > li > a {
	color:#ffffff
}

.tooltip-inner {
	white-space: nowrap !important;
	width: 100% !important;
	max-width: 100% !important;
}

.megamenu ul li a{
	color: #3e3e3e !important;
}

.megamenu .megamenu-col-title {
	font-size:16px !important;
}

.fixed-height-box {

    height: 172px !important;
}

.date-fixed {

        right: 0px !important;
}

.owl-carousel .owl-nav button {
    top: 32% !important;
}

.section-title {
    margin-bottom: 0 !important;
}

.features-box-colored i.text-grey {
	color: #1b1a1a !important
}

.features-box-colored p.text-grey {
	color: #1b1a1a !important
}


body {
    line-height: 1.4 !important;
    font-size: 16px !important
}

h4, .h4 {
    font-size: 16px !important;
}

.icon-box .icon i {
    line-height: 1.7 !important;
}

.footer-logo {
	width: 100px !important
}

.d-block {
	display: block !important;
}

.m-auto {
	margin: auto !important;
}

.brdr-left {
	border-left: 2px dotted #7d7d7d !important;
}

footer .widget {
     margin-bottom: 0 !important; 
}

footer .widget .widget-title {
    margin-bottom: 10px !important;
}

.report-container {
    line-height: 1.5 !important
}

.weather-icon {
    vertical-align: middle;
    margin-right: 20px;
    /* background: white; */
    margin-right: 15px;
}

.weather-forecast {
    /*color: #212121;*/
    /*font-size: 1.2em;*/
    font-weight: bold;
    /*margin: 20px 0px;*/
}

span.min-temperature {
    margin-left: 10px;
    /*color: #929292;*/
}

.time {
    /*line-height: 25px;*/
}

.aqi {
	border: 2px dotted #757575;
}

.aqi-good {
	color: #00b050 !important
}

.aqi-satisfactory {
	color: #92d050 !important
}

.aqi-moderate {
	color: #ffff00 !important
}

.aqi-poor {
	color: #ff9900 !important
}

.aqi-very-poor {
	color: #ff0000 !important
}

.aqi-severe {
	color: #c00000 !important
}

.footer a:hover {
	color: white !important;
}

.footer .aqi {
	cursor: pointer !important;
}

.bg-theme-iitd {
	background-color: #f4f4ff !important
}

.kk-bold {
	font-weight: bold !important
}